{% load static %}
<div class="about-area section-padding bg-gray">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-12 col-xs-12 info">
            <div class="about-wrapper wow fadeInLeft" data-wow-delay="0.3s">
              <div>
                <div class="site-heading">
                  <h2 class="section-title"> Uma empresa de Santa Catarina </h2>
                </div>
                <div class="content">
                  <p>
                    Com dois escritórios, um no litoral de Santa Catarina na cidade de Balneário Camboriú e outro ao
                    oeste do estado em São Lourenço do Oeste, a ANG TRADING é uma empresa que pertence ao Grupo ANG,
                    detentora da empresa de revestimentos Stato Dell Arte, além de seus dois escritórios a ANG TRADING
                    também conta com um armazém na cidade de Capivari de Baixo para armazenar as mercadorias que chegam
                    pelos portos.
                  </p>
                  <a href="#" class="btn btn-common mt-3"> Conheça mais </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-12 col-xs-12 wow fadeInRight" data-wow-delay="0.3s">
            <img class="img-fluid" src="{% static 'images/options/cargo7.png' %}" alt="" >
          </div>
        </div>
      </div>
    </div>