{% load static %}
<footer id="footer" class="footer-area section-padding">
      <div class="container">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
              <div class="widget">
                <h3 class="footer-logo"><img src="{% static 'images/logo_ang_trading_positivo.png' %}" alt=""></h3>
                <div class="textwidget">
                  <p> ANG TRADING a 30 anos importando e exportando para quem mais importa! </p>
                </div>
                <div class="social-icon">
                  <a class="facebook" href="https://www.facebook.com/profile.php?id=100085209756393"><i class="lni-facebook-filled"></i></a>
                  <a class="twitter" href="#"><i class="lni-twitter-filled"></i></a>
                  <a class="instagram" href="https://www.instagram.com/ang_trading/"><i class="lni-instagram-filled"></i></a>
                  <a class="linkedin" href="https://www.linkedin.com/company/ang-trading-company/?viewAsMember=true"><i class="lni-linkedin-filled"></i></a>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
              <ul class="footer-link">
                <li><a href="#"></a></li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
              <h3 class="footer-titel"></h3>
              <ul class="footer-link">
                <li><a href="#"></a></li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
              <h3 class="footer-titel"> Contato </h3>
              <ul class="address">
                <li>
                  <a href="https://www.google.com/maps?q=Rua+Jarbas+Mendes+n%C2%B0+270&um=1&ie=UTF-8&sa=X&ved=2ahUKEwi30Oib7sf9AhWpLbkGHTbXBmMQ_AUoAXoECAEQAw"><i class="lni-map-marker">
                  </i> Rua Jarbas Mendes n° 270 - Sala 102 - Bairro Brasília - São Lourenço do Oeste - SC <br></a>
                </li>
                <li>
                  <a href="#"><i class="lni-phone-handset"></i> +55 (41) 99503-8583 </a>
                </li>
                <li>
                  <a href="#"><i class="lni-envelope"></i> vitor@statodellarte.com.br </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div id="copyright">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="copyright-content">
                <p>Copyright © 2023 Vitor Angheben All Right Reserved</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>