{% load static %}
<section id="pricing" class="section-padding">
      <div class="container">
        <div class="section-header text-center">
          <h2 class="section-title wow fadeInDown" data-wow-delay="0.3s"> Valores </h2>
          <div class="shape wow fadeInDown" data-wow-delay="0.3s"></div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="table wow fadeInLeft" data-wow-delay="1.2s">
              <div class="icon-box">
                <i class="lni-bitcoin"></i>
              </div>
              <div class="pricing-header">
                <p class="price-value"> Importações </p>
              </div>
              <div class="title">
                <h3> A combinar </h3>
                <li> Os nossos valores variam de acordo com cada operação; </li>
                <li> Clientes que realizam importaçãoes com recorrência possuem descontos em nossos serviços; </li>
              </div>
              <ul class="description">
                <h4></h4>
              </ul>
              <button class="btn btn-common">Entre em contato</button>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12 active">
            <div class="table wow fadeInUp" id="active-tb" data-wow-delay="1.2s">
              <div class="icon-box">
                <i class="lni-drop"></i>
              </div>
              <div class="pricing-header">
                <p class="price-value"> Exportações </p>
              </div>
              <div class="title">
                <h3> A combinar</h3>
              </div>
              <ul class="description">
                <li> De modo geral as exportações são menos trabalhosas e mais baratas quando comparadas as importações</li>
                <li> Os valores também variam para cada operação, entre em contato para realizar uma estimativa </li>
              </ul>
              <button class="btn btn-common">Entre em contato</button>
           </div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="table wow fadeInRight" data-wow-delay="1.2s">
              <div class="icon-box">
                <i class="lni-star"></i>
              </div>
              <div class="pricing-header">
                <p class="price-value"> Viagens Internacionais </p>
              </div>
              <div class="title">
                <h3> A combinar </h3>
              </div>
              <ul class="description">
                <li> Os valores vão depender do tempo que deseja passar no país destino e do número de pessoas que irão; </li>
                <li> Levamos você nas principais feiras na China; </li>
              </ul>
              <button class="btn btn-common">Entre em contato</button>
            </div>
          </div>
        </div>
      </div>
    </section>